body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

#project-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.directory {
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.directory h2 {
    cursor: pointer;
    margin: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.directory h2::after {
    content: '+';
}

.directory.open h2::after {
    content: '-';
}

.directory .files {
    display: none;
    padding-left: 20px;
}

.directory.open .files {
    display: block;
}

.file-link {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.file-link:hover {
    background-color: #f0f0f0;
}